html
  head
    title=title
  body
    p Create temp
    form(name='temp', method='post', action='./')
      label Value : 
      input(type='number', name='name')
      input(type='submit')
    
    a(href='./') Back to temps
