html
  head
    title=title
  body
    p Showing all temperatures : 0
    each temp, i in temps
      li
          p=temp.name  
          a(href='./temps/#{temp._id}') Detail
          p
      form(name='delete', action='/api/temps/#{temp._id}?_method=DELETE', method='post', enctype='application/x-www-form-urlencoded')
        button(type='submit') Delete
          
      hr
              
    a(href='./temps/create') Create temp
    p
    a(href='../../') Back to home
    
    
